body
{
	padding-top: 60px;
}
h1
{
	margin: 10px 0px 10px 0px;
}
h2
{
	font-size: 1.2em;
}
a
{
	font-size: 1em;
}

img#logo
{
	width: auto;
	height: 40px;
	margin: 10px;
}
#p-logo
{
	font-size: 0.6em;
}
#nav-header
{
	font-size: 0.6em;
}
li
{
	margin: 10px;
}

#section-activities-hotels
{
	padding: 20px 20px ;
}
#div-weather, .img-home
{
	margin: 0px;
}
.news
{
	margin: 0px;
	margin-bottom: 10px;
}
ul.pagination
{
	flex-wrap: wrap;
}

















