body
{
	padding-top: 60px;
}
h1
{
	margin: 10px 0px 10px 0px;
}
h2
{
	font-size: 1.2em;
}
a
{
	font-size: 1em;
}
img
{
	width: auto;
	height: 210px;
	border-radius: 5px 5px 0px 0px;
}

/* Header */
img#logo
{
	width: auto;
	height: 40px;
	margin: 10px;
}
#p-logo
{
	font-size: 0.6em;
}
#nav-header
{
	font-size: 0.6em;
}
li
{
	margin: 10px;
}

/* Accueil */
#section-activities-hotels
{
	padding: 20px 20px ;
}
#div-weather, .img-home
{
	margin: 0px;
}
#icon-weather
{
	width: auto;
}
.news
{
	margin: 0px;
	margin-bottom: 10px;
}
.img-home
{
	width: 300px;
	height: 200px;
}
ul.pagination
{
	flex-wrap: wrap;
}

/* Page activité selon son id */
.news-img-text, #div-session-opinions
{
	flex-direction: column;
}

/* Page hotel selon son id */
.img-hotel-view
{
	width: 320px;
}
.div-content-location
{
	flex-direction: column;
}
.span-hotel-content 
{
    width: 100%;
}









