html
{
    height: 100%;
}
body
{
	margin: 0px;
	padding-top: 120px;
	font-family: 'Quicksand', cursive;
	font-weight: bold;
	text-align: center;
	height: 100%;
	/*min-height: calc(100% - 140px);*/
}
h1
{
	font-family: 'Single Day', cursive;
	margin: 20px;
}
h2
{
	font-family: 'Single Day', cursive;
	margin: 20px;
	color: #007bff;
}
p
{
	text-align: justify;
}
a
{
	font-family: 'Single Day', cursive;
	font-size: 1.5em;
}
.fa-arrow-left
{
	margin: 10px;
}


/* BARRE DE NAVIGATION */
header
{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0;
	background: #83B877;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 0px 7px #000000;
	z-index: 100;
}
#div-logo a
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
img#logo
{
	width: auto;
	height: 80px;
	margin: 10px;
}
#p-logo
{
	color: #000000;
	text-align: center;
}
#span-logo
{
	color: #5E5E5E;
}

nav 
{
	display: flex;
	align-items: center;
}
ul
{
	display: flex;
	justify-content: space-around;
}
li
{
	list-style-type: none;
}
a.a-session
{
	margin: 5px;
	margin-right: 10px;
	text-decoration: none;
	color: #ffffff;
}
a.a-session:hover
{
	color: #ffffff;
	text-decoration: underline;
}

.wrap
{
    min-height: calc(100% - 222px);
}


/* S'INSCRIRE & SE CONNECTER */
#body-signin, #body-signup
{
	background-image: url('http://localhost:8888/projet-5/app/public/pictures/background_session.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.row.signup-form, .row.form-connexion
{
    margin-top: 160px;
    padding: 20px;
    border-radius: 60px;
	border: 1px solid transparent;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000000;
}
.input-signup, .input-signin
{
	margin: 5px;
	border-radius: 40px;
	border: 1px solid #c9c9c9;
	background-color: #eaeaea;
}
#button_confirm_signup, #button_confirm_signin
{
	width: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background: linear-gradient(#85c9ed, #ffffff);
	color: #286BBD;
	font-weight: bold;
}
#button_confirm_signup:hover, #button_confirm_signin:hover
{
	background: linear-gradient(#ffffff, #85c9ed);
}


/* BANNIERE */
#banner1
{
	width: 100%;
	height: 250px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 1)),
		url('http://localhost:8888/projet-5/app/public/pictures/banner.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
}


/* PARTIE BIOGRAPHIE / HISTOIRE */
#h1-accueil
{
	font-family: 'Single Day', cursive;
	top: 200px;
	margin-bottom: 40px;
}
.p-legend
{
	text-align: justify;
	color: #5E5E5E;
}


/* PARTIE ACTIVITES */
#section-activities-hotels
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url('http://localhost:8888/projet-5/app/public/pictures/kikibeach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 50px;
	padding: 50px 250px 50px 250px;	
}
#block-activities, #block-hotels
{
	background-color: #ffffff;
	margin-bottom: 50px;
}
.news
{
	display: flex;
	align-items: center;
}

.img-home
{
	width: 300px;
	height: 200px;
	margin: 0px 30px 10px 0px;
}
.news-text
{
	display: flex;
	flex-direction: column;
}

/* ACTIVITE EN PARTICULIER */
#div-session-opinions
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.form-session-opinions
{
	margin: 30px;
	padding: 20px;
	border: 1px solid transparent;
	border-radius: 40px;
	box-shadow: 0 1px 40px rgba(0, 0, 0, 0.3); 
}
.list-opinions
{
	border: 1px solid #bababa;
	border-radius: 30px;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2); 
}
#button_add_opinion /* Lien d'ajout d'avis */
{
	width: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background: linear-gradient(#85c9ed, #ffffff);
	color: #286BBD;
	font-weight: bold;
}
#button_add_opinion:hover
{
	text-decoration: underline;
}



/* PAGE PROFILE */
#body-profile
{
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url('http://localhost:8888/projet-5/app/public/pictures/baie-dupi.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
}
.row.profile-form
{
    margin-top: 50px;
    margin-bottom: 75px;
    padding: 20px;
    border-radius: 60px;
	border: 1px solid transparent;
	background-color: #ffffff;
	box-shadow: 0 1px 40px rgba(0, 0, 0, 0.5); 
}
#block-profile
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
form#form-profile
{
	display: flex;
	flex-direction: column;
}
input[type='image'] /* PROVISOIRE */
{
    width: 300px;
    height: 350px;
    border: 1px solid #000000;
	border-radius: 50%;
}
#div-profile
{
	border: 1px solid #000000;
	height: 300px;
}
#span-profile
{
	font-family: 'Single Day', cursive;
	font-size: 1.7em;
}



/* PAGE ADMINISTRATION */
.row.admin
{
	border: 1px solid #a7a7a7;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #5E5E5E;
}
.col.admin
{
	padding: 20px;
}
.news-admin
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}
.news-img-text
{
	display: flex;
	flex-direction: row;
	border: 1px solid #5E5E5E;
	border-radius: 5px;
}
.img-admin
{
	width: 300px;
	height: 200px;
	margin: 0px;
	border-radius: 5px 0px 0px 5px;
}
.news-text-admin
{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.link-add
{
	font-family: 'Quicksand', cursive;
	margin-bottom: 10px;
	padding: 10px 100px 10px 100px;
	border: 1px solid #bababa;
	box-shadow: 0px 0px 7px #bababa;
	border-radius: 5px;
	color: #5E5E5E;
	background: linear-gradient(#b3b3b3, #ffffff);
	font-size: 1.3em;
}
.link-add:hover
{
	color: #FF9300;
	text-decoration: none;
}
.link-edit
{
	font-family: 'Quicksand', cursive;
	margin-right: 20px;
	color: #919191;
	font-size: 1.3em;
}
.link-edit:hover
{
	color: #FF9300;
}
.link-delete
{
	font-family: 'Quicksand', cursive;
	margin-left: 20px;
	color: #919191;
	font-size: 1.3em;
}
.link-delete:hover
{
	color: #FF2600;
}









/* FOOTER */
footer
{
	padding: 20px;
	background-color: #ffffff;
}
footer p
{
	margin-bottom: 0px;
	text-align: center;
}








