html
{
    height: 100%;
}
body
{
	margin: 0px;
	font-family: 'Quicksand', cursive;
	font-weight: bold;
	/*height: 100%;
	min-height: calc(100% - 140px);*/
}

/* BARRE DE NAVIGATION */
header
{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0;
	background: #83B877;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 0px 7px #000000;
	z-index: 100;
}
#div-logo a
{
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo
{
	height: 80px;
	margin: 10px;
}
#p-logo
{
	color: #000000;
	text-align: center;
}
#span-logo
{
	color: grey;
}

nav 
{
	display: flex;
	align-items: center;
}
ul
{
	display: flex;
	justify-content: space-around;
}
li, a
{
	margin: 5px;
	list-style-type: none;
	color: #ffffff;
}
li:hover 
{
	text-decoration: underline;
}
#a-session, a
{
	text-decoration: none;
}
.wrap
{
    min-height: calc(100% - 222px);
}


/* BANNIERE */
#banner
{
	width: 100%;
	height: 200px;
	margin-top: 100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('http://localhost:8888/projet-5/app/public/pictures/banner.jpg');
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent) , to(rgba(250, 250, 250, 0.4)));
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: 1;
}

/* PARTIE BIOGRAPHIE / HISTOIRE */
#h1-accueil
{
	font-family: 'Single Day', cursive;
	top: 200px;
}











