html
{
    height: 100%;
}
body
{
	margin: 0px;
	font-family: 'Quicksand', cursive;
	font-weight: bold;
	text-align: center;
	height: 100%;
	/*min-height: calc(100% - 140px);*/
}
h1
{
	font-family: 'Single Day', cursive;
	margin-bottom: 0px;
}
h2
{
	margin-bottom: 20px;
}


/* BARRE DE NAVIGATION */
header
{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 0;
	background: #83B877;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 0px 7px #000000;
	z-index: 100;
}
#div-logo a
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
#logo
{
	height: 80px;
	margin: 10px;
}
#p-logo
{
	color: #000000;
	text-align: center;
}
#span-logo
{
	color: #5E5E5E;
}

nav 
{
	display: flex;
	align-items: center;
}
ul
{
	display: flex;
	justify-content: space-around;
}
#button_signup, #button_signin, #button_signout, #button_admin, #button_profile, #button_opinions, a
{
	margin: 5px;
	list-style-type: none;
	color: #ffffff;
}
a.a-session
{
	text-decoration: none;
}
a.a-session:hover
{
	color: #ffffff;
	text-decoration: underline;
}

.wrap
{
    min-height: calc(100% - 222px);
}


/* SE CONNECTER */
#section-signin, #section-signup
{
	background-image: url('http://localhost:8888/projet-5/app/public/pictures/background_session.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.row.signup-form, .row.form-connexion
{
	/*display: flex;
	justify-content: center;
	align-items: flex-end;*/
    margin-top: 250px;
    padding: 20px;
    border-radius: 60px;
	border: 1px solid transparent;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000000;
}
.input-signup, .input-signin
{
	margin: 5px;
	border-radius: 40px;
	border: 1px solid #c9c9c9;
	background-color: #eaeaea;
}
#button_confirm_signup, #button_confirm_signin
{
	width: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background: linear-gradient(#85c9ed, #ffffff);
	color: #286BBD;
	font-weight: bold;
}
#button_confirm_signup:hover, #button_confirm_signin:hover
{
	background: linear-gradient(#ffffff, #85c9ed);
}


/* BANNIERE */
#banner1
{
	width: 100%;
	height: 250px;
	margin-top: 100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 1)),
		url('http://localhost:8888/projet-5/app/public/pictures/banner.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
}


/* PARTIE BIOGRAPHIE / HISTOIRE */
#h1-accueil
{
	font-family: 'Single Day', cursive;
	top: 200px;
	margin-bottom: 40px;
}
.p-legend
{
	text-align: justify;
	color: #5E5E5E;
}


/* PARTIE ACTIVITES */
#section-activities-hotels
{
	background-image: url('http://localhost:8888/projet-5/app/public/pictures/kikibeach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 50px;
	padding: 50px 250px 50px 250px;	
}
#block-activities, #block-hotels
{
	background-color: #ffffff;
	margin-bottom: 50px;
}

















